{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            {# TODO: Dynamiser le nom du site #}
            <h1 class="col-12 text-center my-5">Le Blog de Batman</h1>
        </div>

        <div class="row">

            <h2 class="text-center col-12 my-4">Lorem ipsum dolor sit amet, consectetur.</h2>


            <p class="col-12 col-md-10 mx-auto text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti dicta, ipsa libero maiores quis rerum sint? Assumenda, eligendi omnis! Ab alias amet asperiores blanditiis consectetur corporis deserunt dicta dolor doloribus eaque, eum fuga hic illum in magni maiores nihil nisi quam quod, reiciendis rem sapiente sed tempora, tenetur unde. Aliquid earum eos laudantium odit repellendus, sapiente sint sunt temporibus veritatis.</p>

        </div>

        {# Affichage du bandeau avec l'image fixe #}
        <div class="row my-5 batman-cover"></div>

        {# TODO: Afficher les 3 dernier articles #}
        <div class="row">

        </div>

        <div class="row mb-5">

            <h2 class="text-center col-12 my-4">Lorem ipsum dolor sit amet, consectetur.</h2>


            <p class="col-12 col-md-10 mx-auto text-center mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti dicta, ipsa libero maiores quis rerum sint? Assumenda, eligendi omnis! Ab alias amet asperiores blanditiis consectetur corporis deserunt dicta dolor doloribus eaque, eum fuga hic illum in magni maiores nihil nisi quam quod, reiciendis rem sapiente sed tempora, tenetur unde. Aliquid earum eos laudantium odit repellendus, sapiente sint sunt temporibus veritatis.</p>

        </div>

    </div>

{% endblock %}
